body {
	background-color: #D8F6CE;
	margin: 0 10%;
}

h1 {
	text-align: center;
}

h2 {
	border-style: solid;
	text-align: center;
	padding: 0.5rem 0;
}

h2#books_corner {
	font-family: "Rye", serif;
	font-weight: 400;
  	font-style: normal;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	color: #F5DEB3;

	border: 4px solid #5C3A1E;   /* dark brown border */
  	border-radius: 4px;
	
	background-image: url('images/wood_small.jpg');
  	background-size: cover;
  	background-position: center;
}

p#welcome {
	text-align: center;
}

/* some kind of box display */
#days-display {
	font-family: "Chalkduster", fantasy;
	text-align: center;
}
#league_tracker_title {
	font-family: "Copperplate", fantasy;
	text-align: center;
}