body {
	background-color: #D8F6CE;
	margin: 0 10%;
}
h1 {
	text-align: center;
}

h2 {
	border-style: solid;
	text-align: center;
}
p#welcome {
	text-align: center;
}

/* some kind of box display */
#days-display {
	font-family: "Chalkduster", fantasy;
	text-align: center;
}
#league_tracker_title {
	font-family: "Copperplate", fantasy;
	text-align: center;
}